body {
    background-color: rgb(220, 220, 210);
}

.scene {
    position: relative;
    justify-content: center;
    align-items: center;
}

.header_text {
    color: rgb(175, 175, 65);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    margin: 0 0 24px;
    text-align: center;
}

.content {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.hidden {
    display: none;
    visibility: hidden;
}

#action_demo,
.action_demo {
    height: 200px;
    width: 200px;
    /*  */
    position: absolute;
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    padding: 50px;
    cursor: pointer;
}

#action_demo>div,
.action_demo>div {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.start_screen_demo{
    background-image: url('img/1-0.png');
    background-position: center;
    background-size: 70% !important;

    color: rgb(195, 95, 80);
    font: bold;
    font-family: 'Raleway', sans-serif;
    display:table;
}

.record_title{
    margin-top: auto;
    display:table-row;
}

.score_title{
    display:table-footer-group;
}

#progress>div {
    padding: 0px;
    float: left;
    height: 30px;
    width: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
    cursor: pointer !important;
}

.active_index {
    font: bold;
    color: rgb(45, 45, 45);
    border: 1px solid rgb(195, 95, 80);
    border-radius: 50%;
}

#progress-spinner,
.progress-spinner {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    padding: 10px;
}

#action_title {
    text-align: center;
    color: rgb(195, 95, 80);
    ;
}

#status,
.status {
    text-align: center;
}

#timer {
    text-align: center;
    color: rgb(195, 95, 80);
}

#timer::after {
    content: " sec";
}

.scene_title {
    padding-top: 50px;
}

.scene_title>span {
    color: rgb(195, 95, 80);
}

.centered {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

[onCLick*="on"] {
    cursor: pointer;
}